{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wester{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="root">
        <div class="header">
            <div class="container">
                <img src="{% static 'svg/logo.svg' %}" width="35" height="35">

                <ul class="links">
                    <li>Home</li>
                    <li>News</li>
                    <li>Apps</li>
                    <li>Developers</li>
                    <li>About</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="container items-center-justify-between">
                <span>Wester is a dreamful social networking platform, it's open source!</span>
                <a href="https://github.com/hossein-zare/wester" target="_blank">Github</a>
            </div>
        </div>
        
        <div class="content container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>